<div class="breaks-container">
  <h2>Breaks</h2>
  <div class="add-break-container">
    <label for="name-input" class="input-label">Name</label>
    <input type="text" name="name-input" class="name-input">

    <label for="length-input" class="input-label">Length</label>
    <input type="number" name="length-input" class="length-input">minutes

    <div class="break-times">
      <label for="start-time-input" class="input-label">Start time</label>
      <input type="time" name="start-time-input" class="start-time-input">

      <label for="end-time-input" class="input-label">End time</label>
      <input type="time" name="end-time-input" class="end-time-input">

      <button type="button" class="add-break-button">Add</button>
    </div>

  </div>
</div>