<tr class="added-break">
  <td class="break-name">{{name}}</td>
  <td class="break-length">{{length}}</td>
  <td class="break-start-time">{{startTime}}</td>
  <td class="break-end-time">{{endTime}}</td>
</tr>
