<div class="courses-container">
  <h2>Courses</h2>
  <div class="add-course-container">
    <label for="subject-input" class="input-label">Subject</label>
    <input type="text" name="subject-input" class="subject-input">

    <label for="course-input" class="input-label">Course</label>
    <input type="number" name="course-input" class="course-input">


    <button type="button" class="load hidden"><i class="fa fa-spinner fa-spin"></i></button>
    <button type="button" class="add-course-button">Add</button>
  </div>

  <div class="added-courses-container">

  </div>
</div>