<header>
  <div class="navbar">
    <ul>
      <div class="logo">
        <li><a href="#"><img src="Logo.png"></a>
        </li>
      </div>
      <div class="navBarItem">
        <li><a href="http://catalog.oregonstate.edu/Default.aspx?section=Course">Course Catalog</a>
        </li>
      </div>
      <div class="navBarItem">
        <li><a href="http://web.engr.oregonstate.edu/~hessro/teaching/cs290-f17">My Boi's Website</a>
        </li>
      </div>
      <div class="navBarItem">
        <li><a href="/">Home</a>
        </li>
      </div>
    </ul>
  </div>
</header>
