<header>
  <div class="navbar">
    <ul>
      <div class="logo">
        <li><a href="#"><img src="Logo.png"></a>
        </li>
      </div>
      <div class="courseCatalog">
        <li><a target="_blank" href="http://catalog.oregonstate.edu/Default.aspx?section=Course">Course Catalog</a>
        </li>
      </div>
    </ul>
  </div>
</header>
