<div class="schedules-container">
  <div class="add-schedule-container">
    <h2>Schedules</h2>
    <button type="button" id="generate-schedules-button">Generate</button>
  </div>
  <div class="generated-schedules">

  </div>
</div>