# from https://github.com/expressjs/express/blob/master/.gitignore

# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~


# npm
node_modules
package-lock.json
*.log
*.gz


# Coveralls
coverage

# Benchmarking
benchmarks/graphs

# Ignore generated sass and webpack files
public/dist/*
public/stylesheets/*
