<!doctype html>

<html>

<head>
  <link rel="stylesheet" content="text/css" href="stylesheets/application.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" media="screen">
  <meta charset="utf=8">
</head>

<body lang="en">
  {{> navbar}}

  <div class="wrapper">
    {{{body}}}
  </div>

  <script src="dist/bundle.js"></script>
</body>

</html>
