a{
	text-decoration: none;
}
.navbar ul{
	list-style-type: none;
	background-color: #dddddd;
	margin: 0;
	padding: 0;
}
.navbar div{
	display: inline-block;
}
#courseCatalog{
	float:right;
	font-size: 80px;
    font-weight: 100;
    padding-right: 20px;
    padding-top: 15px;
}

.logo img{
	width: 250px;
	height: 125px;
}



.tableClassSets{
	margin-top: 100px;
}
.tableClassSets h2{
	text-align: center;
	font-size: 50px;
}
.tableClassSets table{
	margin-left:auto; 
    margin-right:auto;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
}

.addButtonHolder{
	text-align: center;
}

#addButton{
	margin-top: 20px;
}

