<main id="edit">
  <div class="top-boxes">
    {{> courses}}
    {{> breaks}}
  </div>
  {{> schedules}}
  <div class="schedule-view-modal">
    <div class="button-row">
      <button type="button" class="modal-close-button">
        Close
      </button>
    </div>
    <div class="header-row">
      <h2>Schedule:</h2>
    </div>
    <div class="view-row">

    </div>

  </div>
</main>
