<main>

	<div class = "tableClassSets">
		
		<div><h2>Schedual Sets</h2></div>



	{{#unless classSet}}
		<p>No Schedual Sets</p>
	{{/unless}}



	{{#if classSet }}
		<div class= "tableHolder">
			<table>
				<thread>
				<tr>
					<th>NAME</th>
					<th>Credit Count</th>
					<th>Term</th>
				</tr>
				</thread>
				<tbody>

				{{#each classSet}}
					
					{{> classSets}}
				{{/each}}

				</tbody>
			</table>
		</div>
	
	<div>
	{{/if}}
		<div class = "addButtonHolder">
			<button id="addButton" class="action-button"><a href = "/edit.html">New Set</a></button>
		</div>
	
	</div>

</main>