body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #00B7FF; }

.t-8 {
  top: 0px;
  background-color: #d60029; }

.t-9 {
  top: 50px;
  background-color: #d1002e; }

.t-10 {
  top: 100px;
  background-color: #cc0033; }

.t-11 {
  top: 150px;
  background-color: #c70038; }

.t-12 {
  top: 200px;
  background-color: #c2003d; }

.t-13 {
  top: 250px;
  background-color: #bd0043; }

.t-14 {
  top: 300px;
  background-color: #b80048; }

.t-15 {
  top: 350px;
  background-color: #b3004d; }

.t-16 {
  top: 400px;
  background-color: #ae0052; }

.t-17 {
  top: 450px;
  background-color: #a90057; }

.t-18 {
  top: 500px;
  background-color: #a4005c; }

.t-19 {
  top: 550px;
  background-color: #9e0061; }

.t-20 {
  top: 600px;
  background-color: #990066; }

.t-21 {
  top: 650px;
  background-color: #94006c; }

.l-1 {
  height: 50px; }

.l-15 {
  height: 75px; }

.l-2 {
  height: 100px; }

.l-25 {
  height: 125px; }

.l-3 {
  height: 150px; }

.l-35 {
  height: 175px; }

.l-4 {
  height: 200px; }

.l-45 {
  height: 225px; }

.l-5 {
  height: 250px; }

.l-55 {
  height: 275px; }

.l-6 {
  height: 300px; }

.l-65 {
  height: 325px; }

.class {
  position: relative; }

.week {
  width: 720px;
  display: flex; }

.times {
  width: 120px;
  list-style-type: none;
  padding: 0px;
  margin: 0px; }
  .times .time {
    height: 49px;
    line-height: 49px;
    vertical-align: middle;
    border-bottom: 1px solid black; }
    .times .time:first-child {
      height: 48px;
      line-height: 48px;
      border-top: 1px solid black; }

.days {
  width: 600px;
  display: flex; }
  .days .day {
    width: 110px;
    height: 600px;
    padding: 0px 5px; }

.class {
  padding: 5px; }
  .class h3, .class p {
    margin: 0px; }
