body {
  display: block;
}

h2 {
  font-size: 40px;
  margin: 10px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 85%;
}

.top-boxes {
  display: flex;
  flex-direction: row;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.courses-container, .breaks-container {
  border: 1px solid black;
  margin: 20px;
  width: 100%;
  min-height: 340px;
  text-align: center;
  background-color: white;
}

.courses-container {
  margin-left: 0;
  float: left;
}

.courses-container input {
  width: 40px;
}

.add-course-container, .add-break-container, .add-schedule-container {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.added-course {
  padding: 5px;
}

.breaks-container {
  margin-right: 0;
  float: right;
}

.courses-container label, .breaks-container label {
  margin-left: 10px;
}

.breaks-container .length-input {
  width: 50px;
}

.break-times {
  display: block;
}

.add-break-container {
  line-height: 25px;
}

.breaks-container table {
  margin: 10px;
  display: flex;
  align-self: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid black;
}

th, td {
  padding-right: 10px;
  padding-left: 10px;
}

.schedules-container {
  text-align: center;
  border: 1px solid black;
  width: 100%;
  padding: 0;
  background-color: white;
}

.added-courses-container, .added-breaks-container, .generated-schedules {
  font-size: 18px;
  margin: 20px;
}

.add-schedule-container {
  display: flex;
  justify-content: center;
}

button[type="button"] {
  margin-top: 5px;
	width: 75px;
	height: 50px;
	background-color: white;
	border: 1px solid #dc4405;
}

.add-course-container button[type="button"], .add-break-container button[type="button"] {
  width: 50px;
  height: 35px;
  margin-left: 10px;
}

.add-schedule-container button[type="button"] {
  width: 75px;
  height: 35px;
  align-self: center;
  margin: 10px;
}

button[type="button"]:hover {
  color: white;
	background-color: #dc4405;
  transition-duration: 0.4s;
  cursor: pointer;
}

button[type="button"]:focus {
  outline: 0;
}

.added-courses-container button, .breaks-container table button {
  margin: 0;
  padding: 0;
  border: 1px solid black;
  color: red;
  width: 20px;
  height: 20px;
}
