body {
  margin: 0;
  background-color: #ADD8E6;
}

.navbar a {
  text-decoration: none;
  color: black;
}

.navbar a:hover {
  color: white;
}

.navbar {
  margin: 0;
  width: 100%;
  min-width: 868px;
}

.navbar ul {
  list-style-type: none;
  background-color: #dc4405;
  margin: 0;
  padding-left: 20px;
  
}

.navbar div {
  display: inline-block;
}

.navBarItem {
 
  color: black;
  float:right;
  font-size: 30px;
  font-weight: 100;
  padding-right: 35px;
  padding-top: 25px;
}

.logo img {
  width: 250px;
  height: 125px;
}
